{% extends "lab_4/layout/base.html" %}

    {% block content %}
    {% load staticfiles %}

    <style>
    #profile-img {
    background-image: url('http://www.dorkadia.com/wp-content/uploads/2013/05/2432714-threeronecdeadspace3.jpg');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    width:250px;
    height:250px;
    margin: auto;
    }

    #author-text{
        text-align: center;
    }

    .btn-default:hover{
        background-color: #49ff3e;
        transition-duration: .5s;
        color : #3635ff;
    }

    li,p{
        font-size: 15px;
    }

    .list{
        transition: .5s;
        font-size: 100%;
    }
    .list:hover{
        transition: .5s;
        font-size: 150%;
    }

    hr{
        border-color: transparent;
    }


    </style>

    <h1 style="text-align: center">
        Portofolio
    </h1>

    <div id = "profile-img" class = "img-circle">
    </div>

    <div id = "author-text">
        <p style="font-size: 30px">
            Ibnu Firdaus
        </p>

        <p style="font-size: 20px">
            Computer Science - 2016
        </p>
    </div>

    <hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li class="list"> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>

    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
