{% extends "lab_4/layout/base.html" %}

{% block title %} Kumpulan Pesan {% endblock %}

{% block content %}
<!-- Load tz agar settingan timezone bisa di edit -->
{% load tz %}
<!-- Timezone Setting agar UTC+7-->
{% timezone "Asia/Jakarta" %}



<style>
    .success{
        transition: .5s;
        font-size: 100%;
    }
    .success:hover{
        transition: .5s;
        font-size: 125%;
        color: black;
    }
    td:hover{
        background-color: #008CBA;
    }
</style>
<!--  Populate semua isi pesan dari model -->
<table class="table">
    <thead>
        <th>Nama</th>
        <th>Email</th>
        <th>Pesan</th>
        <th>Dibuat Pada</th>
    </thead>
    <tbody>
        <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
        {% for i in message %}
        {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
        <tr class="warning"> {% else %} <tr class="success">
            {% endif %}
            <td> {{i.name}} </td>
            <td> {{i.email}} </td>
            <td> {{i.message}} </td>
            <td> {{i.created_date}} </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endtimezone %}
{% endblock %}
