body{
    background: navajowhite;
    font-family: 'Quicksand','Source Sans Pro',"sans-serif";
}

.cover {
    left: 150px;
    top: 60px;
    height: 360px;
    width: 851px;
    position: absolute;
    background: white;
}

.picture {
    border-radius: 50%;
    background: linear-gradient(to bottom right, #2ab1f2, #eeb54c) no-repeat;
    width: 178px;
    height: 178px;
    padding: 5px;
    top: 150px;
    left: 485px;
    position: absolute;
}

.data {
    left: 150px;
    top: 450px;
    min-height: 250px;
    width: 851px;
    background: #ffc3a5;
    position: absolute;
    text-align: center;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.postForm {
    left: 150px;
    top: 725px;
    width: 851px;
    height: 195px;
    background: #ffc3a5;
    position: absolute;
    text-align: center;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}


.status{

    left: 150px;
    top: 925px;
    min-height: 225px;
    width: 851px;
    background: transparent;
    position: absolute;
    text-align: center;
}


#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: right;
}

#postInput{
    position: relative;
    left: 250px;
    padding: 15px;
    margin: 20px;
    width: 350px;
    height: 100px;
    resize: none;
}

.feed{

    background: #ffc3a5;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    color: rgba(26, 26, 26, 0.89);
}

.feedMessage{
    margin: 15px;
    padding-top: 15px;
    font-size: 35px;
}

.login{
    position: relative;
    top: 200px;
    left: 450px;
    box-sizing: border-box;
    margin: 0.2em;
    border: none;
    padding: 15px;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 20px;
}

.logout{
    box-sizing: border-box;
    margin: 0.2em;
    border: none;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    padding: 8px;
    font-size: 20px;

}

.postStatus{
    box-sizing: border-box;
    margin: 0.2em;
    border: none;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    padding: 5px;
    font-size: 18px;
}