{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 8">
    <meta name="author" content="Ibnu Sofian Firdaus">
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500|Source+Sans+Pro:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab8.css' %}"/>

    <title>
        {% block title %} Lab 8 {% endblock %}
    </title>
</head>
<header>
    {% include "lab_8/partials/header.html" %}
</header>
<body>

<div id="fb-root"></div>
<script src="{% static 'js/lab8.js' %}"></script>
<content>
    {% block content %}
        <!-- content goes here -->
    {% endblock %}
</content>
<footer>
    {% block footer %}
        {% include "lab_8/partials/footer.html" %}
    {% endblock %}
</footer>
<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</body>
</html>